<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: head"></div>
<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
    <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <a class="btn btn-primary active" role="button" href="/movies/new">
    <i class="bi bi-plus-square"></i>
    Filme
    </a>
        
    <div class="bg-light p-5 rounded">
        <div class="row">
            <form action="" method="POST">
                <div class="mb-2">
                    <label class="form-label">Filtrar por categoria:</label>
                </div>
                <div class="mb-2">
                    <select class="form-select" name="cat" required="required">
                        <option value="">Selecionar categoria...</option>
                    </select>
                </div>
                <div class="mb-4">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </div>
            </form>
        </div>

      <h2>Filmes + Séries disponíveis</h2>
      <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Lançamento</th>
          <th>Categoria</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
      <!-- usando o thymeleaf para iterar na lista de filmes -->
        <tr th:each="movie: ${moviesList}">
          <td th:text="${movie.id}"/>
          <td>
              <a th:href="@{/movies/edit/{id}(id=${movie.id})}" th:text="${movie.name}"></a>
          </td>
          <td th:text="${movie.year}"/>
          <td th:text="${movie.category}"/>
          <td><a th:href="@{/movies/delete/{id}(id=${movie.id})}">
            <i class="bi bi-dash-circle" title="delete"></i>
          </a></td>
        </tr>
      </tbody>
      </table>
      
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>