<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: head"></div>
<body>
  <!-- 
    NAVIGATION BAR
  -->
  <div th:replace="menu :: menu"></div>
  <!-- 
    PAGE CONTENT
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Filmes + Séries</h1>
      <p class="lead">Cadastro de filmes & séries</p>

      <div th:switch="${movie.id > 0}">
        <p th:case="${true}">Atualização</p>
        <p th:case="*">Cadastro</p>
      </div>

      <form th:object="${movie}" action="/movies/save" method="POST">
        <input type="hidden" th:field="${movie.id}" th:if="${movie.id > 0}"/>

        <div class="mb-3">
          <label class="form-label" for="nome">Nome</label> 
          <input type="text" th:field="${movie.name}" class="form-control" id="nome" placeholder="Nome do filme ou série..."
          autocomplete="off" required>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label" for="ano">Ano</label>
            <input type="number" th:field="${movie.year}" class="form-control" id="ano" placeholder="2017"
            autocomplete="off" required="required" min="1900" max="2050">
          </div>
          <div class="col">
            <label class="form-label" for="categoria">Categoria</label> 
            <select th:field="${movie.category}" class="form-select" id="categoria" required>
              <option value="Action">Ação</option>
              <option value="Drama">Drama</option>
              <option value="Sci-fi">Ficção Científica</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
        </div>
      </form>
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>