<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: head"></div>
<body>
  <!-- 
    NAVIGATION BAR
  -->
    <div th:replace="menu :: menu"></div>
  <!-- 
    PAGE CONTENT
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Pessoas</h1>
      <p class="lead">Cadastro de pessoas</p>

      <div th:switch="${people.id > 0}">
        <p th:case="${true}">Atualização</p>
        <p th:case="*">Cadastro</p>
      </div>

      <form th:object="${people}" action="/peoples/save" method="POST">
        <input type="hidden" th:field="${people.id}" th:if="${people.id > 0}"/>

        <div class="mb-3">
          <label class="form-label" for="nome">Nome</label> 
          <input type="text" th:field="${people.name}" class="form-control" id="nome" placeholder="Nome..."
          autocomplete="off" required>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
        </div>
      </form>
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>